*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    width: 100%;
    height: 40px;
    background-color: #212121;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #212121;
    position: fixed;
    bottom: 0;

}

.flex{
    display: flex;
}

.flex-xy{
    align-items: center;
    justify-content: flex-end;
}

main{
    width: 100%;
    height: auto;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#corB{
    width: 100%;
    height: auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#lorem{
    width: 350px;
    height: auto;
    border-right: 2px dotted black;
    font-family: helvetica;
    padding: 5px;
    margin-right: 10px;
}

#TT{
    width: 40%;
    margin: 0 auto;
    padding: 5px;
    
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inp{
    width: 220px;
    height: 35px;
    padding: 10px;

}

form{
    flex-direction: column;
}

input{
    margin-bottom: 10px;
}


.dv{
    width: 10%;
    height: 60%;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dv:hover{
    background-color: darkred;
    color: white;
    border-radius: 30px;
}

#vd{
    width: 10%;
    height: 60%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border-radius: 30px;
    text-decoration: none;
}

a{
    margin-right: 15px;
}